body {
    margin: 0 0;
}

.header-upper-section {
    height: 73px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.header-central-area {
    background-color: rgb(255, 255, 255);
    height: 73px;
    width: 1920px;
    display: flex;
    justify-content: center;
}

.logo-align-left {
    height: 73px;
    width: 847px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links {
    height: 73px;
    width: 790px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-text-margin {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika', sans-serif;    
    font-size: 16px;
    margin-right: 34px;
    color: #211916;
    transition-duration: 0.4s;
}

.navigation-text-margin:hover{
    color: rgb(214, 174, 125);
}

.header-lower-section {
    background-color: rgb(219, 219, 219);
    padding: 0.5px;
}

.main-top-section {
    background-color: #F8F4F2;
    height: 235px;
    display: flex;
    justify-content: center;
}

.main-content {
    height: 235px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-article {
    height: 150px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika', sans-serif;  
}

.main-article-bottom {
    height: 400px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika', sans-serif; 
}

.path-links-top {
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 260px;
}

/* Seletor: .path-links a */
/* - Seleciona todos os elementos <a> que são descendentes (filhos, netos, etc.) da classe .path-links */
.path-links-top a {
    text-decoration: none;
    color: #211916;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika', sans-serif; 
    transition-duration: 0.5s;
}

.path-links-top a:hover{
    color: rgb(214, 174, 125);
}

/* Seletor: .path-links a */
/* - Seleciona todos os elementos <a> que são descendentes (filhos, netos, etc.) da classe .path-links */

.path-links-bottom {
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 260px;
    padding-bottom: 20px;
}

.path-links-bottom a {
    text-decoration: none;
    color: rgba(143, 143, 143, 0.521);
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika', sans-serif; 
    transition-duration: 0.8s;
}

.path-links-bottom a:hover{
    color: rgb(214, 174, 125);
}


.main-mid-section {
    height: 235px;
    display: flex;
    justify-content: center;
}

.main-bottom-section {
    display: flex;
    justify-content: center;
}

.btn-dark {
    font-size: 14px;
    padding: 2px 9px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: black;
    border: none;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-dark:hover{
    background-color: rgb(214, 174, 125);
}

.title-article {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-style: normal;
    color: black;
    text-decoration: none;
    position: relative; /* Adiciona posicionamento relativo para facilitar o posicionamento do pseudo-elemento */
}

.title-article a {
    text-decoration: none;
    color: #211916;
}

.title-article::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50px; /* Ajuste a posição conforme necessário */
    width: 63%; /* Preciso achar uma forma de se ajusta independente do tamanho do texto, por enquanto vai ficar assim */
    height: 2px; /* Ajuste a altura do sublinhado conforme necessário */
    background-image: linear-gradient(to right, black 50%, transparent 50%);
    background-position: 100%;
    background-size: 200% 100%;
    transition: background-position 1s ease; /* Adiciona uma transição suave */
}

.title-article:hover::after {
    background-position: 0;
}

.btn-outline-info {
    font-size: 14px;
    padding: 12px 35px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(214, 174, 125);
    border: none;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-outline-info:hover{
    background-color: rgb(182, 145, 100);
}

footer {
    height: 560px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.footer-upper-section {
    height: 420px;
    width: 1400px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.footer-left-upper-section {
     width: 300px;
     height: 420px;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.footer-left-upper-section a {
    color: #a1a1a1;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    transition-duration: 0.7s;
}

.footer-left-upper-section a:hover{
    color: rgb(214, 174, 125);
}

.footer-right-upper-section {
     color: #a1a1a1;
     width: 1000px;
     height: 420px;
     display: flex;
     align-items: start;
     justify-content: center;
     font-family: "Roboto", sans-serif;
     font-weight: 300;
     font-style: normal;
}

.line-hr {
    background-color: #a1a1a1;
    width: 1920px;
    height: 1px;
    opacity: 20%;
}
.footer-lower-section {
    height: 120px;
}

.footer-lower-section {
    color: #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}